@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300);

html,body { height: 100%; margin: 0px; padding: 0px; }

#main {
    min-height:100%;
    background-color:#e84e40;
    background-image:url("background.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

#learn {
    min-height:100%;
    background-color:#EEE;
    font-family: 'Open Sans', sans-serif;
    position:relative;
}

.wrapper {
    padding:40px;
    max-height:2000px;
    overflow:hidden;
    transition:all 0.3s;
}

.wrapper.closed {
    padding: 0 40px;
    max-height:0;
}

#header {
    background-color:#FFF;
    height:60px;
    padding:10px 20px 20px 20px;
}

h1 {
    line-height:60px;
    height:50px;
    font-size:35px;
    display:block;
    vertical-align:middle;
    font-weight: lighter;
    margin:0;
}

h1 a {
    color:#e51c23;
    border:0;
    text-decoration: none;
    height:50px;
    display:inline-block;
    vertical-align:middle;
}

h1 img {
    margin-right:20px;
    height:50px;
    display:inline-block;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight:lighter;
    color:#FFF;
    margin: 40px 20px 10px 20px;
}

h3 {
    text-align: center;
    font-size: 45px;
    font-weight:normal;
    color:#FFF;
    margin: 10px 20px 40px 20px;
}

.row {
    margin: 20px 0;
    text-align:center;
}

.row a {
    display:inline-block;
    border-radius:4px;
    padding:30px;
    margin:20px;
    background-color:#ff9800;
    color:#FFF;
    text-decoration:none;
    transition: all 0.2s;
    width:300px;
    cursor:pointer;
}

.row a.secondary {
    color:#000;
    background-color:#CCC;
}

.row a span {
    display:block;
}

span.type {
    font-size: 16px;
}

span.example {
    font-style: italic;
    font-size: 12px;
}

.row a:hover, .row a#contribute:hover {
    background-color:#FFF;
    color:#000;
}

form {
    display:block;
    background-color:#ddd;
    padding:60px;
    margin:40px auto;
    color:#000;
    width:500px;
    border-radius:4px;
    line-height:30px;
}

form input[type="submit"] {
    display:block;
    padding:20px;
    font-size:14px;
    border:0;
    border-radius:4px;
    margin:20px auto 0 auto;
    background-color:#e51c23;
    color:#FFF;
    transition: all 0.2s;
}

form input[type="submit"]:hover {
    background-color:#f36c60;
}

input[type="text"], select, textarea {
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    line-height:20px;
    padding:10px;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.2s;
}

input[type="text"]:hover, select:hover, textarea:hover {
    border: 1px solid #999;
}

.line {
    margin-bottom:10px;
    line-height:40px;
}

form input[type="text"] {
    width:350px;
    float:right;
}

form select {
    width:150px;
    margin-right:200px;
    float:right;
}

form textarea {
    width:100%;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color:#AAA;
    width:180px;
}

.line {
    position: relative;
}

.suggestion {
    position:absolute;
    padding:5px;
    background-color:#FFF;
    border: 1px solid #CCC;
    top:40px;
    z-index:9000;
    font-size:12px;
    line-height:16px;
    cursor:pointer;
    transition: all 0.2s;
}

.slider {
    text-align:center;
}

.slider label {
    display:inline-block;
    width:150px;
    text-align:center;
}

.filter input[type="text"] {
    width:70%;
    display:block;
    font-size:20px;
    line-height:30px;
    margin:20px auto;
    font-weight: lighter;
    padding:20px;
}

.results {
    text-align:center;
}

.tag {
    display:inline-block;
    margin:20px;
    height:100px;
    overflow-y:hidden;
    padding:0;
    background-color:#FFF;
}

.tag.closed {
    display:none;
}

.tag input {
    display:none;
}

label.title {
    display:block;
    width:auto;
    height:60px;
    padding:20px 40px 120px 40px;
    line-height:60px;
    font-size:16px;
    color:#000;
    background-color:#f9bdbb;
    transition: all 0.2s;
    margin-bottom:-100px;
}

label.title:hover {
    background-color:#FFF;
    color:#000;
}

.tag input[type="checkbox"]:checked + label {
    background-color:#e51c23;
    color:#FFF;
}

.tag .experience {
    height:60px;
    line-height:20px;
    padding:20px 20px;
    background-color:#607d8b;
    color:#FFF;
    text-align:right;
    font-size:12px;
}

.tag .experienceRow {
    float:right;
    clear:both;
}

.prereq:hover input[type="checkbox"]:checked + label {
    margin-top:-100px;
}

#Nothing_yet input[type="checkbox"]:checked + label {
    margin-top:0;
}

.experience label {
    padding-right:0;
    transition: all 0.2s;
}

.tag input[type="radio"]:checked + label {
    color:#ffc107;
}

.experience label:hover {
    padding-right:5px;
}

#easiness {
    width:350px;
}

#back {
    background-color:#999;
}
#back:hover {
    background-color:#FFF;
}

.feature {
    background-color:#FFF;
    padding:10px;
    margin:20px auto 40px auto;
    border-radius:8px;
    width:80%;
    max-height:2000px;
    overflow:hidden;
    transition:all 0.3s;
}

.feature.hidden {
    max-height:0px;
    padding:0 10px;
    margin:0 auto;
}

.half {
    display:inline-block;
    width:49%;
    color:#000;
    text-align:left;
    vertical-align:top;
}

.feature h2 a {
    color:#e51c23;
    margin:10px auto;
    text-decoration: none;
}

.feature h2 {
    font-size:40px;
    padding:0 20px;
    border-bottom: 1px solid #CCC;
    margin:10px 20px 20px 20px;
}

.feature h2 a:hover {
    color:#e84e40;
}

.feature h2, .feature h3 {
    color:#000;
}

.feature h3 {
    font-size:20px;
    text-align:left;
    margin:10px auto 20px auto;
}

.comment {
    padding:20px;
    border-radius:4px;
    background-color:#EEE;
    position:relative;
    margin-bottom:60px;
}

.triangle {
    margin-top:100px;
    display:block;
    width: 0;
	height: 0;
	border-top: 30px solid #EEE;
	border-left: 30px solid transparent;
    position:absolute;
    bottom:-30px;
    right:20px;
}

.feature ul {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}

.feature li {
    display:inline-block;
    list-style-type: none;
    padding:10px;
    color:#FFF;
    background-color:#607d8b;
    margin:0 20px 20px 0;
}

.feature .row {
    margin-top:0;
}

.feature .row a:hover {
    background-color:#607d8b;
    color:#FFF;
}

.feature .wrapper {
    padding:20px 20px 10px 20px;
}

#last h3, #last p {
    text-align:center;
}